tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0);
}

.divContaianerOrders {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}

.divImgOrder {
    position: relative;
    top: -99px;
    z-index: 1;
}

.imgTiOrders {
    position: absolute;
    top: 100px;
    max-width: 95%;
}

.imgTiOrders img {
    height: 142px;
    box-shadow: 5px 10px 15px #888888de;
    margin-left: 95px;
}

.buttonContainerOrder {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    width: 100px;
    top: 0px;
}

.mnj {
    position: fixed;
}

.mj {
    position: fixed;
    background: transparent;
    border: none;
    height: 140px;
    width: 100px;
    backdrop-filter: blur(3px);
}

.buttonContainerOrder div span {
    letter-spacing: 3px;
}

.pepsito {
    transform: rotate(270deg);
    font-family: 'AmsiPro-Bold';
    position: relative;
    top: 30px;
    left: -5px;
    font-size: 20px;
    color: white;
}

.buttonsContainerStatus {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 318px;
}

.buttonsContainerStatus>button {
    height: 109px;
    width: 95px;
    position: relative;
    color: white;
    background: transparent;
    font-family: 'AmsiPro-Bold';
    font-size: 12px;
    backdrop-filter: blur(2px);
    text-transform: uppercase;
}

.buttonsContainerStatus>button:hover {
    background-color: rgba(255, 255, 255, 0.137);
}

.tableOrders {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.conteiner-orders-user {
    z-index: 1;
    width: 100%;
    padding-top: 1px;
    font-family: 'AmsiPro-Bold';
}

.title-orders-user {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 50px;
    margin-top: 10px;
}

.headTable-orders-user {
    z-index: 1;
    background-color: transparent!;
    color: white;
    text-align: center;
}

.headTable-orders-user th {
    height: 60px;
    backdrop-filter: blur(3px);
    font-family: 'AmsiPro-Bold';
}

.botonFeo div{
    padding: 0;
    margin: 0;
}

.bottom-orders-user {
    background-color: #146552;
    border: 1px solid rgb(202, 195, 195);
    color: white;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.bottom-orders-user:hover {
    background-color: #139375;
}

.ordersUsers-Datos {
    text-align: center;
}

.divTitleOrder {
    border: solid 1px rgba(182, 178, 178, 0.459);
    backdrop-filter: blur(3px);
    border-bottom: none;
}

.tableOrders td {
    background-color: white;
}

.ordersUsers-Datos td {
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}

.orStatus {
    text-transform: uppercase;
    width: 250px;
    max-height: 50px;
}

.megaprueba {
    position: absolute;
    z-index: 1;
    height: 74px;
    width: 550px;
    background-color: white;
}

.cambiarEsTO {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    border: none;
    background-color: #139375;
    height: 23px;
    color: white;
    font-family: 'AmsiPro-Bold';
}

.cambiarEsTO:hover {
    background-color: #095a47;
}

.cancelarEsTO {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    width: 50%;
    background-color: rgb(233, 41, 41);
    border: none;
    height: 23px;
    color: white;
    font-family: 'AmsiPro-Bold';
}

.cancelarEsTO:hover {
    background-color: rgb(158, 2, 2);
}

.bsStado {
    position: relative;
    height: 50px;
    width: 110px;
    background: transparent;
    font-family: 'AmsiPro-Bold';
    border: solid 1px rgb(206, 200, 200);
    opacity: 0.5;
}

.bsStado:hover {
    opacity: 1;
}

.ppol {
    position: relative;
    left: -220px;
    top: -45px;
}

[class~='creada'] {
    background-color: #b1b3b2 !important;
    color:rgb(255, 255, 255)
}

[class~='carrito'] {
    background-color: #dfccad !important;
    color:rgb(255, 255, 255)

}

[class~='procesando'] {
    background-color: rgb(128, 168, 196) !important;
    color:rgb(255, 255, 255)
}

[class~='cancelada'] {
    background-color: rgb(197, 38, 38) !important;
    color:white
}

[class~='completa'] {
    background-color: rgb(138, 170, 146) !important;
    color:white
}

#creada {
    background-color: #b1b3b2 !important;
    opacity: 1;
}

#carrito {
    background-color: #dfccad !important;
    opacity: 1;
}

#procesando {
    background-color: rgb(128, 168, 196) !important;
    opacity: 1;
}

#cancelada {
    background-color: rgb(197, 38, 38) !important;
    opacity: 1;
}

#completa {
    background-color: rgb(138, 170, 146) !important;
    opacity: 1;
}

.rty{
    position: absolute;
    /* left: 100px; */
    background-color: transparent;
    height: 56px;
    backdrop-filter: blur(10px);
    border: none
}
.rty:hover img{
    height: 40px;
    width: 28px;
}

.rty img{
    height: 35px;
    width: 25px;

}
.nb{
    position:relative;
    top: -35px;
    right: -85px;
    backdrop-filter: blur(10px);


}