.elGordito {
    background-color: #003d33;
    height: 100%;
    color: white;
    font-family: 'AmsiPro-Bold';
    border-radius: 0px 0 10px 10px;
    overflow: hidden;
}

.input-review {
    background-color: rgba(255, 255, 255, 0.192);
    border: none;
}

.comentario {
    resize: none;
    margin-left: 20px;
    height: 110px;
    width: 47vw;
    border-radius: 10px;
    outline-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.rate {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    opacity: 0.7;
}

.textComentario {
    position: relative;
    top: -10px
}

.textPuntuacion {
    position: relative;
    left: 33.6vw;
    font-size: 20px;
    top: 10px;
}

.textComen {
    position: relative;
    left: 25px;
    font-size: 25px;
    top: -20px
}

.submit-review {
    position: relative;
    width: 160px;
    height: 40px;
    left: 31.5vw;
    border-radius: 5px;
    color: white;
    font-family: 'AmsiPro-Bold';
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.123);
    border: none;
}

.submit-review:hover {
    background-color: rgba(255, 255, 255, 0.479);
}

.cerrarReview {
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-family: 'AmsiPro-Bold';
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.123);
    border: none;
    left: 20px;
}

.cerrarReview:hover {
    background-color: rgba(200, 99, 99, 0.561);
}

.errorReview {
    position: absolute;
    left: 270px;
    top: 165px;
    height: 20px;
    color: rgba(212, 50, 50, 0.897);
    font-size: 20px;
    filter: drop-shadow(1px 1px rgba(255, 254, 254, 0.322));
    font-family: 'AmsiPro-Regular';
}

.eliRevBtn {
    border: none;
    height: 20px;
    width: 20px;
    color: white;
    background-color: rgba(221, 60, 60, 0.856);
}

.eliRevBtn:hover {
    height: 22px;
    width: 22px;
    background-color: red;
    outline-style: none;
}

@media screen and (max-width:1680px) {
    .textPuntuacion {
        left: 30vw;
        font-size: 15px;
    }
}

@media screen and (max-width:1200px) {
    .textPuntuacion {
        left: 310px;
        font-size: 15px;
    }
    .comentario {
        width: 550px;
    }
    .submit-review {
        left: 250px
    }
}