#ProductCard-Img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: solid DarkGrey 1px;
}

#ProductName {
  margin: 0;
  margin-bottom: 10px;
}

#ProductPrecio {
  margin: 0;
  margin-top: 25px;
}

#ProductCard-Img-Container {
  margin-left: 50px;
  /* margin-right: 125px; */
  margin: 20px;
}

.ProductCard-Props {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: left;
}

#ProductCard-Container {
  display: flex;
  /* background-color: white; */
  /*padding: 20px 0px 10px 0px; */
  margin: 20px 10px 0px 10px;
  height: 140px;
  width: 350px;
  align-items: center;
  justify-items: self-start;
  box-shadow: 5px 5px 10px black;
  border: solid 1px rgb(202, 204, 199);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

#ProductCart-NoDisponible {
  position: absolute;
  transform: rotate(-45deg);
  top: 24px;
  left: -26px;
  background-color: red;
  color: white;
  padding: 0 20px 0 20px;
  background: linear-gradient(-45deg, red 90%, transparent 10%); 
}

#ProductCard-btnAddCarr {
  display:inline;
  width:70px;
  background-color: goldenrod;
  margin-right: 10px;
  padding-left: 10px;
  color: white;
  border-radius: 5px;
  border: none;
}

#ProductCard-btnAddCarr:hover {
  box-shadow: 3px 3px 10px black;
  cursor: pointer;
  border: none;
}

#ProductCard-btnAddCarr:disabled {
  display:inline;
  width:70px;
  background-color: lightgray;
  margin-right: 10px;
  padding-left: 10px;
  color: gray;
  border-radius: 5px;
  cursor:no-drop;
}

#ProductCard-btnContainer {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.nameCategorias {
  background-color: lightslategray;
  color:white;
  font-size: 12px;
  padding: 0 5px 0 5px;
  margin-right: 5px;
}