#ProductCard-Img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: solid DarkGrey 1px;
}

#ProductName {
  margin: 0;
  margin-bottom: 10px;
}

#ProductPrecio {
  margin: 0;
  margin-top: 25px;
}

#ProductCard-Img-Container {
  margin-left: 50px;
  margin-right: 125px;
  margin-bottom: 20px;
}

.ProductCard-Container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
