/* fuentes */

@font-face {
  font-family: 'Pilsen Plakat';
  font-style: normal;
  font-weight: 400;
  src: local('Pilsen Plakat'), url('https://fonts.cdnfonts.com/s/8645/PilsenPlakat.woff') format('woff');
}

/*///////*/

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.home {
  display: flex;
  align-items: stretch;
  padding-left: 40px;
  background-color: rgb(255, 165, 0, 0.8);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0px 1px 1px #313131;
  overflow: hidden;
}

@keyframes Logo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.logo {
  height: 100px;
  margin-top: 10px;
  animation: Logo infinite 5s linear;
}

.logo:hover {
  animation-play-state: paused;
}

.navegacion {
  display: flex;
  width: 100%;
}

.segundo {
  width: 50%;
}

.titleEcom {
  position: relative;
  top: -20px;
  left: 10px;
  font-family: 'Pilsen Plakat';
  -webkit-text-fill-color: #1c5045;
  filter: drop-shadow(2px 2px rgba(255, 254, 254, 0.932));
  font-size: 50px;
}

.btnMenu {
  text-transform: uppercase;
  margin: 0 20px 0 20px;
  display: flex;
  /* flex-direction: row; */
  /* text-align: center; */
  font-family: 'AmsiPro-Bold';
  font-size: 25px;
  position: relative;
  /* left: 1.5%; */
  top: -12px;
  color: #1c5045;
  text-decoration: none;
  /* padding: 0 5px 0 5px; */
  border: solid 1px transparent;
}

.btnMenu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/764979688446885898/792240520818327562/pincelada.gif");
  background-size: cover;
  transform-origin: left;
  transition: 0.5s;
}

.btnMenu:hover:before {
  width: 100%;
}

.btnMenu:hover {
  color: rgb(255, 255, 255);
  /* transform: translate(5px, -5px); */
  transition: all 300ms;
}

.btnMenu span {
  position: relative;
  z-index: 1;
}

.Navegation-Imagen-Carrito {
  height: 35px;
  cursor: pointer;
  bottom: 15px;
}

.ss-home {
  display: flex;
  position: absolute;
  left: 78%;
  top: 130px;
}

.Navegation-Cantidad {
  position: absolute;
  font-size: small;
  background-color: red;
  color: white;
  padding: 0 5px 0 5px;
  border-radius: 30px;
  left: 28px;
  top: 0px;
}

.Login-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.Login-Content {
  background-color: white;
  border: 3px solid rgb(2, 85, 2);
  border-radius: 12px;
  transition: all .5s;
}

.Login-Header, .Login-Footer {
  background-color: rgb(255, 165, 50);
}

.Login-Header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgb(2, 85, 2);
  height: 40px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 3px 7px black;
}

.Login-Campos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 10px;
}

.Login-Footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  border-radius: 0 0 10px 10px;
}

.Login-Leyenda {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.Login-Sep-Leyenda {
  margin-right: 8px;
}


#Login-Entrar:disabled {
  background-color: lightgrey;
  color: gray;
  cursor: no-drop;
}

.megaDivNav {
  position: relative;
  display: flex;
  font-family: 'AmsiPro-Bold';
  left: -10px;
}

.divEntrarNav {
  position: absolute;
  top: -77px;
  left: -310px;
  cursor: pointer;
  font-size: 23px;
  color: #1c5045;
  text-transform: uppercase;
}

.divRegistroNav {
  position: absolute;
  top: -77px;
  left: -150px;
  font-size: 23px;
  text-transform: uppercase;
}

#registroNav {
  color: #1c5045;
}

.iconRegis {
  position: absolute;
  left: -39px;
  top: -5px;
  width: 36px;
}

.iconEntrar {
  position: absolute;
  left: -50px;
  top: -5px;
}

.divEntrarNav:hover {
  font-size: 25px;
  color: white;
}

.divEntrarNav:hover .iconEntrar {
  width: 37px;
}

#registroNav:hover {
  font-size: 25px;
  color: white;
}

.divRegistroNav:hover .iconRegis {
  width: 39px;
}

.nununu{
  display: none;
}

.iconRegis:hover {
  cursor: pointer;
}

#registroNav{
  cursor: pointer;
}


@media screen and (max-width: 900px){

  .divRegistroNav{
    left: -80px;
  }
  .divEntrarNav {
    left: -230px;

  }
}