.home-imagen {
  width: 100%;
  border-bottom: solid 3px lightcoral;
}

p {
  margin-bottom: -25px;
}

.home-manifiesto {
  display: flex;
  /* flex-direction: row; */
  background-color: rgb(22, 61, 52);
  color: white;
  margin-top: -4px;
  border-bottom: solid 3px lightcoral;
}

.home-titulo {
  font-size: 30px;
  font-family: cursive;
  padding: 60px 60px 30px 60px;
}

.home-texto {
  font-size: 25px;
  font-family: cursive;
  padding: 30px 300px 100px 100px;
}
