.UserProfileFirstDiv {
  background-color: rgb(22, 61, 52);
  height: 116.8%;
}

.UserProfileForm {
  display: grid;
  grid-template-columns: 350px 1fr;
  background-color: rgb(22, 61, 52);
  overflow: hidden;
  position: relative;
  top:150px
}

.SpanEdit {
  display: flex;
  justify-content: space-between;
}

.SpanEdit:hover {
  cursor: pointer;
  text-decoration: underline;
}

.SpanEdit:hover .SpanEditar {
  text-decoration: underline;
}

.SpanEdit:hover .StrongData {
  text-decoration: underline;
}

.SpanEdit:hover .UserProfileH3 {
  text-decoration: underline;
}

.SpanEdit:hover .UserProfileEditImg {
  visibility: visible;
}

.UserResetearButton:hover {
  cursor: pointer;
}

/* keys de propiedades para editar */
.UserProfileH3 {
  margin-left: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* los values de las keys para editar */
.StrongData {
  position: absolute;
  color: white;
  left: 900px;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* boton editar */
.SpanEditar {
  position: absolute;
  right: 0;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: lightblue;
  font-weight: 800;
}

/* imagen de al lado de editar */
.UserProfileEditImg {
  visibility: hidden;
  width: 5%;
  height: 5%;
}

.UserDivButton {
  display: flex;
  margin-left: 20px;
}

.UserActualizarButton {
  justify-content: center;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
  padding-left: 100px;
  padding-right: 100px;
}

.UserResetearButton {
  position: absolute;
  border: none;
  right: 40px;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  /* margin-left: 455px; */
  justify-content: space-between;
}

.UserProfileLabel {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.UserProfileInput {
  position: absolute;
  left: 900px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.UserProfileButton {
  position: absolute;
  right: 100px;
  font-size: 20px;
}

.UserProfileDivAfterIf {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.UserProfileButtonAfterIf {
  position: absolute;
  right: 150px;
  font-size: 20px;
}

.UserProfileRegistroImagen1 {
  width: 350px;
  height: 501px;
  overflow: hidden;
  /* background-color: rgb(22, 61, 52);
  box-shadow: -100px -50px 30px 30px rgb(22, 61, 52) inset;
  background: url(http://localhost:3001/images/Imagencita.jpg) no-repeat left/115%; */
}

.imgPstaProfile {
  position: relative;
  left: -40px;
  width: 450px;
  height: 501px;
}
.UserActualizarButton:hover {
  cursor: pointer
}

.UserActualizarButton:disabled {
  cursor: not-allowed; 
}

.UserResetearButton:disabled {
  cursor: not-allowed; 
}

.Profile-Table-Orders {
  width: 100%;
}

#Profile-Table {
  width: 100%;
  background-color: white;
}




