.checkout-steps {
  display: flex;
  border-top: 0.3rem gray;
  padding-top: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkout-steps > div {
  border-top: 0.3rem grey solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: green;
  color: rgb(22, 61, 52);
}
