 #Catalogo-Container {
   display: flex;
   background-color: #F2F2F2;
   overflow: hidden;
 }

 .preubaC {
   background-color: #ffffff;
   border-right: solid 1px rgb(206, 202, 202);
   font-size: 25px;
   /* margin-left: 50px; */
   height: 100vh;
   width: 300px;
 }

 #Catalogo-Lista-title {
   background: white;
   display: grid;
   font-family: 'AmsiPro-Bold';
   font-size: 35px;
   border-bottom: solid 1px rgb(206, 202, 202);
   padding-inline-start: 0;
   justify-content: center;
   padding: 10px;
   margin-block-start: 0;
   padding-top: 20px;
 }

 .divCatalogoName {
   background: white;
   font-family: 'Montserrat', sans-serif;
   list-style-type: none;
   /* padding: 5px; */
   color: black;
   margin: 10px;
   margin-left: 27px;
   text-align: center;
 }

 .cls23 {
   fill: #e8b84d;
 }

 .divCatalogoName svg {
   opacity: 0;
 }

 .divCatalogoName svg:hover {
   opacity: 1;
 }

 .divCatalogoName:target svg {
   opacity: 1;
 }

 .abvc {
   width: 270px;
   position: relative;
   top: -30px;
   left: -9px
 }

 .catalogo-Link {
   text-decoration: none;
 }

 .Catalogo-btn {
   width: 100%;
   height: 50px;
   background-image: linear-gradient(rgb(255, 255, 255), rgba(228, 228, 225, 0.048));
   border: none;
   border-top: solid 1px rgb(206, 202, 202);
   box-shadow: 1px 10px 10px rgba(228, 228, 228, 0.863);
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   font-weight: 900;
   outline-style: none;
 }

 .Catalogo-btn:hover {
   font-family: 'Montserrat', sans-serif;
   font-weight: 900;
   width: 100%;
   height: 50px;
   color: white;
   border: none;
   border-radius: 0px 0 10px 8px;
   background: linear-gradient(to bottom, rgba(29, 117, 66, 0.918), rgb(16, 83, 44));
 }

 .Catalogo-btn:active {
   transform: translateY(4px);
   outline-style: none;
 }



 #Catalogo-ProductCard-Container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 60px;
 }

 /*
.catalogo-Link {
  color: black;
  text-decoration: none;
}
*/
.Catalogo-Products-Pagination {
  display: flex;
  flex-direction: column;
}

.Catalago-Pagination {
  display: flex;
  justify-content:flex-end;
  margin-left:auto;
  /* margin-right: 9%; */
  margin-top: 20px;
  position: relative;
  left: 1px ;
}

.Catalogo-Btn-Prev {
  width: 120px;
  height: 50px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  outline-style: none;

}

.Catalogo-Btn-Prev:hover {
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.Catalogo-Btn-Prev:disabled {
  background-color: lightgray;
  color: gray;
  box-shadow: none;
  cursor: no-drop; 
}

.Catalogo-Btn-Next {
  width: 120px;
  height: 50px;
  background-color: goldenrod;
  color: white;
  margin-right: 5px;
  border: none;
  border-left: solid 1px rgb(201, 202, 149);
  border-radius: 0px 10px 10px 0px;
  outline-style: none;

}

.Catalogo-Btn-Next:hover {
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.Catalogo-Btn-Next:disabled {
  background-color: lightgray;
  color: gray;
  box-shadow: none;
  cursor: no-drop; 
} 