#inlineFormInputGroup{
    border: 1px dotted #999;
    border-radius: 0;

    -webkit-appearance: none;
}
.button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}

.d-flex {
  display: flex;
  margin-left: 50px;
}