.contenido {
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  border-radius: 25px;
  background: linear-gradient(to left, white, rgb(242, 248, 224));
  
}

#Product-Name {
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  text-shadow: 1.3px 1.3px 10px royalblue;
}

.item-image {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 30px LightGray;
}

.button {
  width: 10%;
  justify-content: center;
  align-items: center;
  background-color: DimGrey;
  font-size: medium;
  border: none;
  color: LightGray;
  font-weight: 200;
  margin-left: 20px;
  cursor: pointer;
}

#Description {
  text-align: center;
  font-size: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 500;
  padding: 5px;
  border: solid LightGray 3px;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto
}

#Sumar-Restar {
  width: 5%;
}

#Precio {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
 
}

.SubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#Precio-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}