.form {
    padding: 25px;
    background-color: grey;
}
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    padding: 1px;
    background-color: red;
    border-style: groove;
}